/* ==========================================================================
Variables y utilidades
========================================================================== */

/* ==========================================================================
Tipografía
========================================================================== */

/* ==========================================================================
Layout
========================================================================== */

header{
    background-color: yellow;    
}

main {
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    background-color: gray;    
    padding: 0px;
    margin-top: 2rem;
    width: 80%;
    height: 500px;
    margin-bottom: 3rem;    

}

.colores{
        background-color: #4CAF50;
        color: white;           
        padding: 20px;        
        text-align: center;
        width: 100%;
}
