/* ==========================================================================
Variables y utilidades
========================================================================== */

/* ==========================================================================
Tipografía
========================================================================== */

/* ==========================================================================
Layout
========================================================================== */

/* HEADER */
header{
    background-color:  #b5d0df;
    display: flex;
    justify-content: center;    
}

.titulo-clase{
    /* background-color: #DDEFF9;  */
    background-color: #b5d0df;   
    width: 90%;   
    display: flex;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.logo-sitio{
    width: 100px; /* Ajusta el ancho según lo necesites */
    height: auto;  /* Esto mantiene la proporción original para que no se deforme */
    margin-right: 0;
}

.titulo-proyecto{
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    size: 10px;

}

/*CONTROLES*/
.class-controles{
    background-color: aquamarine;    
    display: flex;
    justify-content: center
    ;
}
.clase-articulo-botones{
    width: 90%;
    background-color: blue;


}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    background-color: pink;
}

.contenedor{    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: ;
    width: 90%;
    height: 60%px;
    background-color: yellow;
    gap: 0.5 rem;
    
}
.class-container {
  /* position: relative;   */
  width: 78%;
  height: 250px;
  margin: 20px auto;
  background-color: black;
  border-radius: 20px;
}

.layer-top {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Ajusta esto para ver más o menos de la capa blanca */
  background-color: #4A90E2; /* Puedes cambiar este color */
  border-radius: 20px;
  z-index: 2;
}




/* ==========================================================================
Componentes
========================================================================== */







/* ==========================================================================
Media queries (responsive)
========================================================================== */

@media (max-width: 768px) {
h1 { font-size: 2rem; }

    .grid {
        grid-template-columns: 1fr;
    }
}